body {
    background-image: url(https://www.jeopardy.com/sites/default/files/styles/practice_test/public/2018-07/Jeopardy_2k_HeroLogo-4x3.jpg?itok=sn07ulDF);
    background-size: cover;
    color: white;
}